#dropzone .dropzone {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 360px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.33);
    padding: 23px;
}